.outer-wrapper {
    display: flex !important;
    flex-direction: row !important;
    align-items: normal !important;
    background-color: white;
    max-height: 280px;
    min-height: 280px;
    overflow: hidden;
}

.outer-wrapper-description {
    background-color: white;
}

@media only screen and (max-width: 668px) {
    .outer-wrapper {
        max-height: 180px;
        min-height: 180px;
    }
    .img-wrapper {
        max-height: 150px;
        max-width: 120px;
    }
    .photo-thumb {
        max-height: 180px !important;
        min-height: 180px !important;
        min-width: 120px !important;
        max-width: 120px !important;
     }
     .short-info {
         font-size: 11px;
     }
}

.shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
 }

 .title {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: rgb(90, 105, 4);
    }
 }

 @media only screen and (max-width: 668px) {
    .short-info {
        padding-top: 20px;
    }

   .outer-wrapper-description {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

.img-wrapper {
    display: flex;
    position: relative;
    max-height: 250px;
    max-width: 250px;
}

.photo-thumb-zoom-in:hover {
    cursor: zoom-in;
}

.photo-thumb {
    max-height: 300px;
    min-height: 300px;
    min-width: 200px;
    max-width: 200px;
}

.link {
    position: absolute;
    bottom: -20px;
    align-self: center;
    font-size: 12px;

}

.read-more {
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, white);
    text-align: center;
}





  .read-btn {
    background: #ffffffbf;
    outline: none !important;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    z-index: 1;
  }
  .read-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: rgb(90, 105, 4);
    transition: all 0.3s ease;
  }
  .read-btn:hover {
    color: #fff;
  }
  .read-btn:hover:after {
    left: 0;
    width: 100%;
  }
  .read-btn:active {
    top: 2px;
  }