.wrapper {
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 60px 67px;
  padding: 35px;
  margin-top: 70px;
  // margin-bottom: 70px;
  border-radius: 15px;
}

agm-map {
    height: 300px;
}

.description {
  border-bottom: solid 1px;
}

.title {
  text-align: center;
  color: rgb(90, 105, 4);
  margin-top: -71px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
}