<div class="inner-wrapper">
  <nav class="navbar navbar-ligh" [ngClass]="{'nav-bg-img': !isInHomePage}">
    <div class="container-fluid flex-column">
      <div>
        <img class="logo" src="../assets/dubai-logo.png" alt="">
      </div>
      <div class="pt-2">
        <button class="btn me-1" [routerLink]="'/dubai-landmarks'">
          Home
        </button>
        <button *ngIf="!isLoggedIn" class="btn me-1" (click)="openLoginForm()">
          Login
        </button>
        <button *ngIf="isLoggedIn" class="btn me-1" [routerLink]="'/dashboard'">
          Dashboard
        </button>
        <button *ngIf="isLoggedIn" [disabled]="loading" class="btn logout-btn position-relative" (click)="logout()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm loading"></span>
          Logout
        </button>
      </div>
    </div>
  </nav>
  <div *ngIf="isInHomePage" class="header-title">
    <h1 class="title">
      The most amazing landmarks in Dubai
    </h1>
    <div class="bg-wrapper">
      <img class="bg-img" src="../assets/Dubai-Marina.jpg">
    </div>
  </div>
  <router-outlet></router-outlet>
</div>