.outer-wrapper {
  background-color: #f3f3f3;;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  max-width: 540px;
}

.card-wrapper {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;  
}

.card-inner-wrapper {
  min-width: 160px;
  text-align: center;
}

.card-img {
  height: 200px;
  width: 160px;
}

.title {
  width: 160px;
}

@media only screen and (max-width: 450px) {
  .card-inner-wrapper {
    min-width: 110px;
    max-width: 110px;
    text-align: center;
  }

  .card-img {
    height: 150px;
    width: 110px;
  }
}

.loading {
  position: absolute;
  top: 86px;
  right: 63px;
  width: 30px;
  height: 30px;
}

.disabled {
  pointer-events: none;
}

.disabled-card {
  opacity: 0.3;
}
