<div *ngIf="!(landmarks$ | async).length" class="spinner-border spinner" role="status"></div>
<h1 class="text-center mt-5">Select a landmark to edit</h1>
<div class="d-flex justify-content-center mb-5" [ngClass]="{'disabled': loading}">
  <div class="d-flex flex-wrap justify-content-center outer-wrapper">
    <div *ngFor="let landmark of landmarks$ | async; let i = index" class="d-flex card-wrapper position-relative" (click)="onClick(landmark, i)">
      <span *ngIf="loading && updatingLandmarkIndex === i" class="spinner-border spinner-border-sm loading"></span>
      <div class="card-inner-wrapper" [ngClass]="{'disabled-card': loading && updatingLandmarkIndex === i}">
        <div>
          <img class="card-img" [src]="landmark.photo_thumb.url">
        </div>
        <div>
          <span class="title">{{landmark.title}}</span>
        </div>
    </div>
  </div>
</div>