/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh; 
    font-family: 'Nanum Myeongjo', serif !important;
    background-color: #cdcdcdd4 !important;
}

.dashboard-bg {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.spinner {
    position: absolute;
    height: 100px !important;
    width: 100px !important;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    color: #5a6904;
    z-index: 999;
  }
